@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --1d1c19: #1d1c19;
    --ffffff: #ffffff;
    --da5001: #da5001;
    --7e7e7e: #7e7e7e;
    --fbfbfb: #fbfbfb;
    --589999: #589999;
    --f0f7f7: #f0f7f7;
    --f6f6f6: #f6f6f6;
    --121212: #121212;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --1d1c19: #1d1c19;
    --ffffff: #ffffff;
    --da5001: #da5001;
    --7e7e7e: #7e7e7e;
    --fbfbfb: #fbfbfb;
    --589999: #589999;
    --f0f7f7: #f0f7f7;
    --f6f6f6: #f6f6f6;
    --121212: #121212;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}

body {
  background-color: #fbfbfb;
  font-family: "PT Sans Caption", sans-serif;
}

.inline_bg_image_container {
  display: grid;
  grid-template-areas: "overflow-content";
}

.inline_bg_hero_image {
  grid-area: overflow-content;
}

.inline_hero_content {
  grid-area: overflow-content;
  margin: 0% auto 0% auto;
  width: 100%;
}
/* asmklsamnclsa */

.haji {
  clip-path: polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
}

.haji:first-child {
  clip-path: polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 0% 50%, 0% 0%);
  border-radius: 2px 0px 0px 2px;
}

.haji:last-child {
  clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 5% 50%, 0% 0%);
  border-radius: 0 2px 2px 0;
}

.peer:checked ~ div::after {
  content: "";
  display: block;
}
.vector_bg {
  background: url("../../public/images/vector.png") -22px center / 100% 100% no-repeat;
  z-index: 2;
}
.card-transition-enter {
  opacity: 0;
  transform: translateY(10px);
}

.card-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.card-transition-exit {
  opacity: 1;
  transform: translateY(0);
}

.card-transition-exit-active {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 300ms, transform 300ms;
}
li {
  cursor: pointer;
}

@media (min-width: 640px) {
  .sm\:min-w-44 {
    min-width: 1rem !important;
  }
}

/* Custom CSS for button with specific data-blok-uid */
[data-blok-uid="536575646-7033655e-6e64-481b-8527-25c54b2b72ba"]
  .lucide-arrow-right {
  display: inline-block;
  transition: transform 0.3s ease;
  justify-content: start;
}

[data-blok-uid="536575646-7033655e-6e64-481b-8527-25c54b2b72ba"]:hover
  .lucide-arrow-right {
  transform: translateX(-6px);
}

[data-blok-uid="536575646-f4375d26-bf95-4692-9ff5-1a389305913f"]
  .lucide-arrow-right {
  display: inline-block;
  transition: transform 0.3s ease;
}

[data-blok-uid="536575646-f4375d26-bf95-4692-9ff5-1a389305913f"]:hover
  .lucide-arrow-right {
  transform: translateX(-6px);
}

[data-blok-uid="536575646-fd2b8f5c-346e-487c-a8f6-35d65cd0a3ea"]
  .lucide-arrow-right {
  display: inline-block;
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
}

[data-blok-uid="536575646-fd2b8f5c-346e-487c-a8f6-35d65cd0a3ea"]:hover
  .lucide-arrow-right {
  transform: translateX(-6px);
}

[data-blok-uid="536575646-7033655e-6e64-481b-8527-25c54b2b72ba"] {
  padding: 0 0px;
  justify-content: start;
}
[data-blok-uid="536575646-f4375d26-bf95-4692-9ff5-1a389305913f"] {
  padding: 0 0px;
  justify-content: start;
}
[data-blok-uid="536575646-fd2b8f5c-346e-487c-a8f6-35d65cd0a3ea"] {
  padding: 0 0px;
  justify-content: start;
}

a:has(button),
a button {
  width: 100%;
}
